* {
    box-sizing: content-box;
    -webkit-box-sizing: border-box;
}

#top-header {
    background-color: #8FD9A8;
}

#header {
    display: block;
    overflow: auto;
    padding: 10px;
}

.option-wrapper {
    gap: 10px;
    align-items: center;
    align-content: space-between;
}
div > select {
    color: black;
}


#welcome {
    display: flex;
    flex-flow: row wrap;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 10px;
    height: 200px;
    gap: 50px;
}

.message-wrapper {
    margin: 30px 0;
}

#call-to-action {
    text-align: center;
    background-color: #2FDD92;
    color: white;
    letter-spacing: 3px;
}


#activities {
    background-color: #2F86A6;
    display: grid;
    padding: 20px;
    grid-template-columns: repeat(auto-fill, 120px);
    justify-content: space-around;
}


.activity-wrapper {
    display: flex;
    width: 100px;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 6px;
    margin: 5px;
    cursor: pointer;
    border: 3px inset #2FDD92 !important;
    border-radius: 25%;
}

.activity-wrapper:hover {
    transform: scale(1.1);
    border: 3px outset #F2F013 !important;
}

.disable {
    opacity: 0.2;
}

.name-wrapper {
    margin: 10px 0 0 0;
}
.name-wrapper a {   
    color: white;
}


.activity-image {
    width: 75px;
}

.logo img {
    float: left;
    width: 80px;
}

.logo {
    float: left;
    display: flex;
    height: auto;
}

.logo a {
    font-size: 60px;
}



.logo span {
    padding: 0 5px 0 5px;
    border: 1px black solid;
}

#location {
    float: right;
    border: white;
    background: white;
    color: #2F86A6;
}

#language {
    float: right;
    border: white;
    background: white;
    color: #2F86A6;
}

#payment {
    float: right;
    border: white;
    background: white;
    color: #2F86A6;
}

.big-text {
    font-size: 21px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

a:hover {
    text-decoration: underline;
}

@media all and (max-width: 600px) {
    #activities {
        grid-template-columns: repeat(auto-fill, 100px);
    }

    .logo {
        display: none;
    }

    label {
        display: block;
        width: 150px;
    }

}